# ==============================================================================
# ملف: requirements.txt
# الوصف: هذا الملف يحتوي على المكتبات التي يحتاجها المشروع.
# ==============================================================================

# ==============================================================================
# ملف: requirements.txt (محدث للدعم webhook)
# ==============================================================================

pyTelegramBotAPI
psycopg2-binary
pymediainfo
Flask
gunicorn
psutil
requests
python-dotenv
cryptography





